@import 'tailwindcss';

@theme {
  --color-whiteBlue: #daf0ff;
  --color-color1: #b5e2ff;
  --color-color2: #8fd3fe;
  --color-color3: #6ac5fe;
  --color-color4: #45b6fe;
  --color-heading: #121212;
  --color-basictext: #212121;
  --color-formBg: rgba(255, 255, 255, 0.7);
  --color-formPlaceholder: #6a7282;
}

#app {
  height: 100vh !important;
}
