/* @import './base.css';
@import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

@import 'tailwindcss';

@theme {
  --color-whiteBlue: #daf0ff;
  --color-color1: #b5e2ff;
  --color-color2: #8fd3fe;
  --color-color3: #6ac5fe;
  --color-color4: #45b6fe;
}

#app {
  height: 100vh !important;
}
