@import "tailwindcss";

@theme {
  --color-whiteBlue: #DAF0FF;
  --color-color1: #B5E2FF;
  --color-color2: #8FD3FE;
  --color-color3: #6AC5FE;
  --color-color4: #45B6FE;
}

#app {
  height: 100vh !important;
}
